@model IEnumerable<GymHub.Models.Membership>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">
        Add Membership
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.MembershipId"
                       class="btn btn-sm btn-outline-primary">
                        Edit
                    </a>

                    <a asp-action="Details"
                       asp-route-id="@item.MembershipId"
                       class="btn btn-sm btn-outline-secondary">
                        Details
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.MembershipId"
                       class="btn btn-sm btn-outline-danger">
                        Delete
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
